<div class="gpe-app-container hljs">
  <div *ngIf="!envUsername" class="username-field-container">
    github.com/
    <mat-form-field>
      <input matInput placeholder="Username" [value]="username" (keydown)="setUsername($event)">
    </mat-form-field>
  </div>
  <div *ngIf="!envAPIToken" class="token-field-container">
    <mat-form-field class="token-field">
      <input matInput placeholder="Personal Access Token" [value]="token" (keydown)="setToken($event)">
    </mat-form-field>
  </div>
  <div *ngIf="true" class="style-field-container">
    <mat-form-field class="style-field">
      <input matInput placeholder="hljs style" [value]="style" (keydown)="setStyles($event)">
    </mat-form-field>
  </div>
  <gpe-repo-list class="gpe-repo-list" [repos]="data.repos"></gpe-repo-list>
  <gpe-commit-graph class="gpe-commit-graph" [branches]="data.branches | async" [commits]="data.commits | async"></gpe-commit-graph>
  <!--<gpe-differ class="gpe-differ" *ngIf="data.diff" [comparison]="data.diff | async"></gpe-differ>-->
  <gpe-directory-viewer class="gpe-directory-viewer"></gpe-directory-viewer>
  <gpe-file-viewer class="gpe-file-viewer"></gpe-file-viewer>
</div>
