.nested-node {
  padding-left: 25px;
}
.invisible {
  display: none;
}
.mat-tree-node {
  min-height: 24px;
}
.gpe-file-button {
  height: 36px;
  width: 100%;
  color: #000000;
  text-align: left;
}
.gpe-folder-button {
  height: 36px;
  width: 100%;
  color: #000000;
  text-align: left;
  display: block;
  overflow: hidden;
}
.gpe-file-list-item {

}
.gpe-file-list-item-selected {
  background-color: red;
}
.gpe-branch-icon {
  position: relative;
  display: inline-block;
  top: 10px;
}
