.gpe-file-container {
  padding: 5px;
}
.gpe-file-contents {
  display: inline-block;
  width: calc(100% - 30px);
  margin: -20px 0 0 0;
  padding: 0;
}
.gpe-file-lines {
  color: #888888;
  display: inline-block;
  font-family: monospace;
  vertical-align: top;
  width: 30px;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.gpe-file-line-count {
  display: block;
  font-family: monospace;
  vertical-align: top;
}
