.gpe-repo-list-item {
  display: block;
  width: 100%;
  text-align: left;
}
.gpe-repo-list-item-selected {
  display: block;
  width: 100%;
  text-align: left;
  background-color: red;
}
.gpe-search-field {
  margin: 0 0 0 16px;
}
.gpe-repo-list-container {
  margin: 0 0 200px 0;
}
